.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.75rem;
    background-color: #282c34;
    color:#fff
}
.navbar h3{
    margin: 0;
    font-size: 1.2rem;
}
.navbar-links{
    display: flex;
    gap: 1rem;
}
.navbar-links a{
    color: #fff;
    text-decoration: none;
    font-size: 0.95rem;
}
.navbar-links a:hover{
    color:#61dafb;
}