.event-card{
    border: 1px solid #ddd;
    padding: 12px;
    margin: 12px 0;
    border-radius: 12px;
    background: #fafafa;
}
.event-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}
.event-card-header h3{
    margin: 0 8px;
}
.event-type{
    background: #0070f3;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
}
p{
    margin: 8px;
}
.files ul{
    margin: 4px 0;
    padding-left: 40px;
}
.event-card-footer{
    display: flex;
    justify-content: space-between;
}