.auth-box{
    width: 300px;
    margin: 60px auto;
    padding: 20px;
    border:1px solid #ddd
}
.auth-box input{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;    
}
.auth-box button {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;      
} 